In [2]:
import pandas as pd 
import numpy as np

In [11]:
# Loading the analysis data from the csv and excel sheet provided

df1 = pd.read_csv('Telcom_dataset.csv')
df2 = pd.read_csv('Telcom_dataset2.csv')
df3 = pd.read_csv('Telcom_dataset3.csv')
df4 = pd.read_csv('cells_geo.csv', delimiter= ';')
df5 = pd.read_excel('CDR_description.xlsx')
df5 = pd.read_excel('cells_geo_description.xlsx')

In [15]:
# Removing the uncessary columns from the three day's data

df1.drop(['CELL_ON_SITE','COUNTRY_A','COUNTRY_B'], axis = 1)

,PRODUTC,VALUE,DATETIME,DW_A_NUMBER_INT,DW_B_NUMBER_INT,CELL_ID,SITE_ID
0,Voice,0,2012-05-06 23:04:37.0,49fae048b547780,1a49f8b0ded9de6,/TJNe+Mmtu,/TJNe+Mmtu
1,sms,0,2012-05-06 23:05:25.0,7a54a6eaee19e65,93343ba6e41af95,/+cKZKIp41,/+cKZKIp41
2,sms,25,2012-05-06 23:05:41.0,6008887b0207d82,7aacc9709ce0a20,/u0FSD+ahi,/u0FSD+ahi
3,Voice,56,2012-05-06 23:05:42.0,7370032e20f4e96,6af4a60e74c91d3,+cNeJzsTp3,+cNeJzsTp3
4,Voice,14,2012-05-06 23:06:29.0,966ba4656e38e62,02aa736ee555d5c,051KhYDCpv,051KhYDCpv
...,...,...,...,...,...,...,...
4996,sms,100,2012-05-07 00:01:54.0,92e367d671f45c5,38811081cf82c90,0c2371d9bc,1e751d08a4
4997,Voice,1,2012-05-07 00:01:54.0,83b44b18238e602,6ec63d4aa5de5dd,5fb791cf56,65efe2bc62
4998,Voice,0,2012-05-07 00:01:54.0,49fae048b547780,1a49f8b0ded9de6,7773627c12,9ef9616350
4999,Voice,0,2012-05-07 00:01:54.0,a1613f1a992716a,bd663f07b6c8bcd,3f4af49d6c,969b8d0e39
5000,Voice,7,2012-05-07 00:01:54.0,1670a5f7c22f4ed,3600efd094f2225,6f4d9b77a5,ebfc58af70

In [17]:
# Removing the uncessary columns from the three day's data

df2.drop(['CELL_ON_SITE','COUNTRY_A','COUNTRY_B'], axis = 1)

,PRODUCT,VALUE,DATE_TIME,DW_A_NUMBER,DW_B_NUMBER,CELL_ID,SITE_ID
0,sms,0,2012-05-07 23:02:06.0,32255675c3b6fe3,1aa7ae01386e9fb,+854AcBQT2,+854AcBQT2
1,Voice,0,2012-05-07 23:03:44.0,ff16d6ac74c1c64,87d87309c15a8c9,+854AcBQT2,+854AcBQT2
2,sms,0,2012-05-07 23:04:06.0,98d9f2fb5ff624b,93343ba6e41af95,+laSrk7g6q,+laSrk7g6q
3,Voice,37,2012-05-07 23:04:48.0,3f9c8a33ec7be1f,7d05a38f89c49d8,/xvRrCVKoQ,/xvRrCVKoQ
4,sms,25,2012-05-07 23:04:58.0,7bcccc03adf3864,56a5d5430d2fa86,+bO+qkSonO,+bO+qkSonO
...,...,...,...,...,...,...,...
4996,sms,0,2012-05-08 00:01:53.0,22ffbbb8ac8cde1,8db839a0c08bd54,896459aace,b7d00e59e4
4997,sms,25,2012-05-08 00:01:53.0,bcf512a3542d42c,5a2848d6f983c31,7e90b35166,211015b14d
4998,sms,0,2012-05-08 00:01:53.0,05e3c3d41628a9f,7185a95077eae9e,fe70e431df,c7ea989264
4999,data,0,2012-05-08 00:01:53.0,86a4dbf018f6f24,5a4dc9e82deb309,ffa6759bb2,NaN
5000,Voice,0,2012-05-08 00:01:53.0,a03c9837c62a5b9,de590e98879fa37,8630058aca,b47a998a3e

In [18]:
# Removing the uncessary columns from the three day's data

df3.drop(['CELL_ON_SITE','COUNTRY_A','COUNTRY_B'], axis = 1)

,PRODUCT,VALUE,DATE_TIME,DW_A_NUMBER_INT,DW_B_NUMBER_INT,CELLID,SIET_ID
0,Voice,61,2012-05-08 23:01:28.0,966f68353622feb,ffd53a3bb2db6f1,+38u2u/rfx,+38u2u/rfx
1,sms,0,2012-05-08 23:01:31.0,a0a597384c612d7,cf3b218f1dde792,+Fs4mTvdKx,+Fs4mTvdKx
2,Voice,10,2012-05-08 23:02:59.0,5441a9a58c97132,52f8b299515b9b7,+ZaaZozy/+,+ZaaZozy/+
3,sms,0,2012-05-08 23:03:04.0,8ab8b9ed6989f61,e09e736e46c5c3d,+cNeJzsTp3,+cNeJzsTp3
4,Voice,22,2012-05-08 23:03:16.0,52662a62b199334,2186273faab4602,/eeMklgyJA,/eeMklgyJA
...,...,...,...,...,...,...,...
4996,Voice,0,2012-05-09 00:01:43.0,467333ade2b4b9c,0ab2acd804d01fe,2aa04dcab7,f7d63a29e5
4997,Voice,62,2012-05-09 00:01:43.0,e077a6b74c5053c,4c8098eb6ea1a41,7f1f2f889f,b4ddb9e93c
4998,Voice,32,2012-05-09 00:01:43.0,77f53c39d27c050,9d064f013e2cab2,a4731e780e,d68260ef50
4999,Voice,30,2012-05-09 00:01:43.0,672ce74c418aa7a,f9ff5af59cf0d68,98ed726da2,b4130b54ab
5000,Voice,60,2012-05-09 00:01:43.0,6edeb4c55714650,7e60838216482a7,1c11a2fcbb,6d70dae094

In [35]:
# Determing whci cities were the most used for the three days

df4['VILLES'].value_counts()[:10].sort_values(ascending=False)

COCODY          354
YOPOUGON        295
ABOBO           255
MARCORY         141
TREICHVILLE     132
ADJAME          110
YAMOUSSOUKRO    104
PLATEAU         103
KOUMASSI         91
BOUAKE           65
Name: VILLES, dtype: int64