In [2]:
import pandas as pd 
import numpy as np

In [67]:
# Loading the analysis data from the csv and excel sheet provided

df1 = pd.read_csv('Telcom_dataset.csv', names = ['PRODUCT', 'VALUE', 'CELL_ON_SITE', 'DATE_TIME', 'DW_A_NUMBER_INT', 'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID'])
df2 = pd.read_csv('Telcom_dataset2.csv', names = ['PRODUCT', 'VALUE', 'CELL_ON_SITE', 'DATE_TIME', 'DW_A_NUMBER_INT', 'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID'])
df3 = pd.read_csv('Telcom_dataset3.csv', names = ['PRODUCT', 'VALUE', 'CELL_ON_SITE', 'DATE_TIME', 'DW_A_NUMBER_INT', 'DW_B_NUMBER_INT', 'COUNTRY_A', 'COUNTRY_B', 'CELL_ID', 'SITE_ID'])
df4 = pd.read_csv('cells_geo.csv', delimiter= ';')
df5 = pd.read_excel('CDR_description.xlsx')
df5 = pd.read_excel('cells_geo_description.xlsx')

In [74]:
# Removing the uncessary columns from the three day's data

df6 = df1.drop(['CELL_ON_SITE','COUNTRY_A','COUNTRY_B'], axis = 1)
df6

,PRODUCT,VALUE,DATE_TIME,DW_A_NUMBER_INT,DW_B_NUMBER_INT,CELL_ID,SITE_ID
0,PRODUTC,VALUE,CELL_ON_SITE,DW_A_NUMBER_INT,DW_B_NUMBER_INT,CELL_ID,SITE_ID
1,Voice,0,1,49fae048b547780,1a49f8b0ded9de6,/TJNe+Mmtu,/TJNe+Mmtu
2,sms,0,0,7a54a6eaee19e65,93343ba6e41af95,/+cKZKIp41,/+cKZKIp41
3,sms,25,0,6008887b0207d82,7aacc9709ce0a20,/u0FSD+ahi,/u0FSD+ahi
4,Voice,56,1,7370032e20f4e96,6af4a60e74c91d3,+cNeJzsTp3,+cNeJzsTp3
...,...,...,...,...,...,...,...
4997,sms,100,0,92e367d671f45c5,38811081cf82c90,0c2371d9bc,1e751d08a4
4998,Voice,1,1,83b44b18238e602,6ec63d4aa5de5dd,5fb791cf56,65efe2bc62
4999,Voice,0,1,49fae048b547780,1a49f8b0ded9de6,7773627c12,9ef9616350
5000,Voice,0,0,a1613f1a992716a,bd663f07b6c8bcd,3f4af49d6c,969b8d0e39
5001,Voice,7,2,1670a5f7c22f4ed,3600efd094f2225,6f4d9b77a5,ebfc58af70

In [75]:
# Removing the uncessary columns from the three day's data

df7 = df2.drop(['CELL_ON_SITE','COUNTRY_A', 'COUNTRY_B'], axis = 1)

In [76]:
# Removing the uncessary columns from the three day's data

df8 = df3.drop(['CELL_ON_SITE','COUNTRY_A','COUNTRY_B'], axis = 1)

In [77]:
# removing null values from the cells_geo sheet
df4 = df4.dropna()
df4

,Unnamed: 0,VILLES,STATUS,LOCALISATION,DECOUPZONE,ZONENAME,LONGITUDE,LATITUDE,REGION,AREA,CELL_ID,SITE_CODE
23,23,ABOBO,In Service,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-4.014139,5.433500,LAGUNE,ABIDJAN NORTH,f740406877,0f34c36ac5
24,24,ABOBO,In Service,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-4.014139,5.433500,LAGUNE,ABIDJAN NORTH,959e54c8f7,0f34c36ac5
25,25,ABOBO,In Service,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-4.014139,5.433500,LAGUNE,ABIDJAN NORTH,56b7e7000c,0f34c36ac5
26,26,ABOBO,In Service,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-4.014139,5.433500,LAGUNE,ABIDJAN NORTH,bc51c17a6f,0f34c36ac5
27,27,ABOBO,In Service,ABIDJAN,Abidjan_NORD,ZONE E - Abidjan_NORD,-4.014139,5.433500,LAGUNE,ABIDJAN NORTH,e460975c9f,0f34c36ac5
...,...,...,...,...,...,...,...,...,...,...,...,...
3969,3969,ZUENOULA,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-6.039694,7.428611,MARAHOUE,CENTRE NORTH,1cfc2d7ab1,f91ed8d2e9
3970,3970,ZUENOULA,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-6.039694,7.428611,MARAHOUE,CENTRE NORTH,3ae1708153,f91ed8d2e9
3971,3971,ZUENOULA,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-6.065450,7.444592,MARAHOUE,CENTRE NORTH,cb71f8a29c,61bee9c70c
3972,3972,ZUENOULA,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-6.065450,7.444592,MARAHOUE,CENTRE NORTH,d4a6a0b645,61bee9c70c
3973,3973,ZUENOULA,In Service,INTERIEUR,Grand-NORD,ZONE A - Grand-NORD,-6.065450,7.444592,MARAHOUE,CENTRE NORTH,f9f3e42589,61bee9c70c

In [78]:
# Combining of the three telecast datasets to enable analyis accross the three
df_all_datasets =pd.concat([df6, df7, df8], keys =['PRODUCT', 'VALUE', 'DATE_TIME', 'DW_A_NUMBER_INT', 'DW_B_NUMBER_INT', 'CELL_ID', 'SITE_ID'])
df_all_datasets

                PRODUCT  VALUE     DATE_TIME  DW_A_NUMBER_INT  \
PRODUCT   0     PRODUTC  VALUE  CELL_ON_SITE  DW_A_NUMBER_INT
          1       Voice      0             1  49fae048b547780
          2         sms      0             0  7a54a6eaee19e65
          3         sms     25             0  6008887b0207d82
          4       Voice     56             1  7370032e20f4e96
...                 ...    ...           ...              ...
DATE_TIME 4997    Voice      0             3  467333ade2b4b9c
          4998    Voice     62             1  e077a6b74c5053c
          4999    Voice     32             1  77f53c39d27c050
          5000    Voice     30             2  672ce74c418aa7a
          5001    Voice     60             2  6edeb4c55714650

                DW_B_NUMBER_INT     CELL_ID     SITE_ID
PRODUCT   0     DW_B_NUMBER_INT     CELL_ID     SITE_ID
          1     1a49f8b0ded9de6  /TJNe+Mmtu  /TJNe+Mmtu
          2     93343ba6e41af95  /+cKZKIp41  /+cKZKIp41
          3     7aacc9709ce0a20  /u0FSD+ahi  /u0FSD+ahi
          4     6af4a60e74c91d3  +cNeJzsTp3  +cNeJzsTp3
...                         ...         ...         ...
DATE_TIME 4997  0ab2acd804d01fe  2aa04dcab7  f7d63a29e5
          4998  4c8098eb6ea1a41  7f1f2f889f  b4ddb9e93c
          4999  9d064f013e2cab2  a4731e780e  d68260ef50
          5000  f9ff5af59cf0d68  98ed726da2  b4130b54ab
          5001  7e60838216482a7  1c11a2fcbb  6d70dae094

[15006 rows x 7 columns]

In [35]:
# Determing which cities were the most used for the three days

df4['VILLES'].value_counts()[:10].sort_values(ascending=False)

COCODY          354
YOPOUGON        295
ABOBO           255
MARCORY         141
TREICHVILLE     132
ADJAME          110
YAMOUSSOUKRO    104
PLATEAU         103
KOUMASSI         91
BOUAKE           65
Name: VILLES, dtype: int64